*{
    background-color: #191920;
    border-radius: 0px;
    border: 0px;
    margin: 0px;
    padding: 0px;
    transition: 500ms;
}
.Tags{
    width: 90%;
    font-size: 25px;
    border-radius: 5px;
    background-color: #322f2f3f;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    font-family: cursive;
    color: #1dff7b;
} 
.Tags:hover{
    background-color: rgb(51, 159, 254);
    color: #fff;
}
iframe{
    width: 100%;
}